header {
  background-color: #444;
  color: #fff;
  padding: 5px 15px;
  text-align: center;
  display: flex;

  .header-left {
    display: flex;
    align-items: center;
  }

  .header-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    display: inline-block;
    margin: 0;
    font-size: 28px;
  }

  .header-right {
    display: flex;
    align-items: center;
  }

  .link {
    color: #fff;
    text-decoration: none;
    margin-left: 1em;

    &:hover {
      transform: rotate(10deg);
      transition: all 0.2s;
    }

    svg {
      height: 2em;
      width: 2em;
    }
  }
}

#menu-popover {
  background: #444;
  border: none;
  margin: 0;
  width: 150px;
  height: 78px;
  position: absolute;
  top: 55px;
  left: 0;

  > div {
    display: flex;
    flex-direction: column;
    z-index: 1;
    gap: 5px;
    padding: 0 10px;
  }
}

.progress-container {
  position: relative;
  height: 4px;
  width: 100%;
}

.progress {
  height: 4px;
  background: #000;
  position: absolute;
}

.progress-now {
  height: 4px;
  border-right: 2px solid #000;
  position: absolute;
}
