header {
  background-color: #444;
  color: #fff;
  padding: 5px 15px;
  text-align: center;
  display: flex;

  .header-left {
    display: flex;
    align-items: center;
  }

  .header-center {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  h1 {
    display: inline-block;
    margin: 0;
    font-size: 28px;
  }

  .header-right {
    display: flex;
    align-items: center;
  }

  .link {
    color: #fff;
    text-decoration: none;
    margin-left: 1em;

    &:hover {
      transform: rotate(10deg);
      transition: all 0.2s;
    }

    svg {
      height: 2em;
      width: 2em;
    }
  }
}

.btn-menu {
  anchor-name: --menu;
}

#menu-popover {
  position-anchor: --menu;
}

.progress-container {
  position: relative;
  height: 4px;
  width: 100%;
  overflow: hidden;
}

.progress {
  height: 4px;
  background: #bbb;
  position: absolute;
}

.progress-period {
  height: 4px;
  background: #000;
  position: absolute;
}

.progress-now {
  height: 4px;
  border-right: 2px solid #bbb;
  position: absolute;
}

.progress-period-now {
  height: 4px;
  border-right: 2px solid #000;
  position: absolute;
}
