:host {
  --tooltip-offset: 5px;
}

[popover="hint"] {
  inset: unset;
  position: absolute;
  margin: 0;
  padding: 8px;
  border-radius: 6px;
  background: #000;
  color: #fff;
  border: none;
  font-size: 1rem;
  font-weight: normal;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

[popover="hint"]:popover-open {
  opacity: 1;
}

@starting-style {
  [popover="hint"]:popover-open {
    opacity: 0;
  }
}

.tooltip-top {
  bottom: calc(anchor(top) + var(--tooltip-offset));
  justify-self: anchor-center;
}

.tooltip-bottom {
  top: calc(anchor(bottom) + var(--tooltip-offset));
  justify-self: anchor-center;
}

.tooltip-left {
  right: calc(anchor(left) + var(--tooltip-offset));
  align-self: anchor-center;
}

.tooltip-right {
  left: calc(anchor(right) + var(--tooltip-offset));
  align-self: anchor-center;
}
