<dialog #settingsDialog>
  <h2>Settings</h2>
  @if (settingsEdit()) {
    <form (submit)="save()">
      <div>
        <label for="weekHours">Week hours</label>
        <input
          id="weekHours"
          type="number"
          name="weekHours"
          [(ngModel)]="settingsEdit().weekHours"
          required
        />
      </div>
      <div>
        <label for="minTime">Min time</label>
        <input
          id="minTime"
          type="time"
          name="minTime"
          [(ngModel)]="settingsEdit().minTime"
          required
        />
      </div>
      <div>
        <label for="maxTime">Max time</label>
        <input
          id="maxTime"
          type="time"
          name="maxTime"
          [(ngModel)]="settingsEdit().maxTime"
          required
        />
      </div>
      <button type="submit">Save</button>
      @if (!newSettings()) {
        <a class="btn" [routerLink]="['../']">Cancel</a>
      }
    </form>
  } @else {
    <a class="btn" [routerLink]="['../']">Close</a>
  }
</dialog>
