<dialog #settingsDialog>
  <h2>Paramètres</h2>
  @if (settingsEdit()) {
    <form (submit)="save()">
      <div>
        <label for="weekHours">Heures par semaine</label>
        <input
          id="weekHours"
          type="number"
          name="weekHours"
          [(ngModel)]="settingsEdit().weekHours"
          required
        />
      </div>
      <div>
        <label for="minTime">Heure minimum d'arrivée</label>
        <input
          id="minTime"
          type="time"
          name="minTime"
          [(ngModel)]="settingsEdit().minTime"
          required
        />
      </div>
      <div>
        <label for="maxTime">Heure maximum de départ</label>
        <input
          id="maxTime"
          type="time"
          name="maxTime"
          [(ngModel)]="settingsEdit().maxTime"
          required
        />
      </div>
      <button type="submit" class="btn-success">Enregistrer</button>
      @if (!newSettings()) {
        <a
          class="btn btn-danger"
          [routerLink]="['', { outlets: { modal: [] } }]"
          >Annuler</a
        >
      }
    </form>
  } @else {
    <a class="btn" [routerLink]="['', { outlets: { modal: [] } }]">Fermer</a>
  }
</dialog>
